# Ignore meme files
meme-*/*

# Ignore ipynb_checkpoint files
.ipynb_checkpoints

# Ignore plots
*.png
*.gz
*.pdf
*.html
*.sh

__pycache__

# Ignore results files.
examples/results/data/*
examples/results/*.csv

# Ignore all .pyc files
*.pyc


# Do NOT ignore
!readme.txt
!assets/*
!example_data/*/*.txt
!requirements.txt
!src/configs/*