# Ignore Sphinx build output
_build/

# Ignore results folders used during testing.
examples/results/20March2025
examples/results/21March2025
examples/results/data

paper_figures/data/pcawg_and_eopc_fpkm.tsv

# Ignore meme files
meme-*/*

# Ignore ipynb_checkpoint files
.ipynb_checkpoints


__pycache__

# Ignore all .pyc files
*.pyc


# Do NOT ignore
!readme.txt
!assets/*
!requirements.txt
!src/configs/*

.DS_Store